<footer class="footer nav navbar-inverse">
    <div class="container-fluid">
        <div class="row">
        </div>

        <div class="col-lg-offset-2 col-lg-4 col-md-6 col-sm-6">
            <ul class="list-unstyled">
                <li><a href="/about/about">About</a></li>
                <li><a href="/about/contact">Contact</a><li>
                <li><a href="/about/how">How it works</a></li>
            </ul>
        </div>
        <div class="col-lg-offset-2 col-lg-4 col-md-6 col-sm-6">
            <ul class="list-unstyled">
                <li><a href="/about/terms">Terms</a></li>
                <li><a href="/about/privacy">Privacy Policy</a><li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="copyright col-lg-offset-1 col-lg-6"><a href="http://github.com/michaelhawkins/playful-coming"
            target="_blank">Playful Coming Soon sample</a></div>
        <div class="copyright col-lg-offset-2 col-lg-3"><a href="http://jumpstartb2b.com" target="_blank">© Jump Start Consulting 2014</a></div>
    </div>
</footer>