<footer class="footer nav navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-3">
                <ul class="list-unstyled">
                    <li><a href="/about/about">About</a></li>
                    <li><a href="/about/contact">Contact</a><li>
                    <li><a href="/about/how">How it works</a></li>
                </ul>
            </div>
            <div class="col-md-offset-3 col-md-3">
                <ul class="list-unstyled">
                    <li><a href="/about/terms">Terms</a></li>
                    <li><a href="/about/privacy">Privacy Policy</a><li>
                </ul>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="copyright col-md-offset-7 col-md-2"><a href="http://github.com/michaelhawkins/playful-coming"
            target="_blank">Playful Coming Soon sample</a></div>
        <div class="copyright col-md-offset-0 col-md-3"><a href="http://jumpstartb2b.com" target="_blank">© Jump Start Consulting 2014</a></div>
    </div>
</footer>