@(people: List[Person], personForm: Form[Person]) <!-- The Form object manages a type of Person -->

@import helper._

@main("Sign up to hear more") {

    <h2>Add a new task</h2>
    @form(action = routes.Registration.newPerson) {
        @inputText(personForm("firstName"), 'placeholder -> "Your first name")
        @inputText(personForm("lastName"), 'placeholder -> "Your last name")
        @inputText(personForm("email"), 'placeholder -> "Your email")
        <input type="submit" value="Create">
    }
}